- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('page')


- block content
  .page.container
    h3
      if can_edit
        a(href=self_link) {{ title or '-'}} ({{ name }}, {{ lang }})

      else
        if title
          a(href=self_link)= title

      if show_edit_button
        a.edit_button(href=edit_url)
          i.far.fa-edit
          |&nbsp;
          = _('edit_button')

    if options.show_text
      = text|markdown
