*.pyc
.doit.db
.settings
.project
.pydevproject
.idea
*.log.json
*.pot
*.mo
.babelcompiled
src/ekklesia_portal.egg-info/
.cache/
.eggs/
src/ekklesia_portal/config.py
nix/*_frozen.txt
config*.yml
testconfig*.yml
.pytest_cache
result
.mypy_cache/
.coverage
htmlcov/
mypy_stubs
pyenv
dist
serve_static
serve_app
docker-image-ekklesia-portal.tar
docker-image-ekklesia-portal-static.tar
src/ekklesia_portal/static/css/*.css
.devenv
.direnv
venv
log.json
.envrc
