*.pyc
.settings
.project
.pydevproject
.idea
*.pot
*.mo
.babelcompiled
arguments.egg-info/
.cache/
.eggs/
arguments/config.py
arguments/static/css/arguments.css
requirements/pypi2nix_source_deps
requirements/pypi2nix_source_deps_with_hash
requirements/requirements_frozen.txt
config.yml
