*.pyc
.settings
.project
.pydevproject
.idea
*.pot
*.mo
.babelcompiled
src/ekklesia_portal.egg-info/
.cache/
.eggs/
src/ekklesia_portal/config.py
src/ekklesia_portal/static/css/portal.css
requirements/pypi2nix_source_deps
requirements/pypi2nix_source_deps_with_hash
requirements/requirements_frozen.txt
requirements/all_deps
requirements/dev_deps
config.yml
