[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
morepath = "*"
"more.transaction" = "*"
"psycopg2" = "*"
pyjade = "*"
pyyaml = "*"
sqlalchemy = "*"
sqlalchemy-searchable = "*"
"jinja2" = "*"
munch = "*"
attrs = "*"
"zope.sqlalchemy" = "*"
passlib = "*"
"more.itsdangerous" = "*"
requests-oauthlib = "*"
"more.forwarded" = "*"
deform = "*"
case-conversion = "*"
py-gfm = "*"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
werkzeug = "*"
coverage = "*"
pytest = "*"
pytest-localserver = "*"
requests = "*"
webtest = "*"
"7e87fbd" = {path = "../more.babel_i18n", editable = true}
responses = "*"
pylint = "*"
when-changed = "*"
ipdb = "*"
"38f2bc8" = {path = "./../more.browser_session", editable = true}
pytest-factoryboy = "*"
pylama = "*"
"autopep8" = "*"
mimesis-factory = "*"
mypy = "*"
pytest-cov = "*"
pytest-instafail = "*"
pytest-print = "*"
pytest-pspec = "*"
pytest-mock = "*"
typing-extensions = "*"
bandit = "*"

[requires]
python_version = "3.7"
