[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

morepath = "*"
"more.transaction" = "*"
"psycopg2" = "*"
pyjade = "*"
pyyaml = "*"
sqlalchemy = "*"
sqlalchemy-searchable = "*"
"jinja2" = "*"
munch = "*"
attrs = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
"more.pathtool" = "*"
werkzeug = "*"
coverage = "*"
pytest = "*"
pytest-localserver = "*"
requests = "*"
webtest = "*"


[requires]

python_version = "3.6"
