- extends "layout.j2.jade"

- block title
  title Übersicht

- block content
  #content
    #question_56.question
      .stats.question_stats
        #points_text_56_0.points.question_points 1
        .points_text.question_points_text Unterstützer
      .question_title
        p
          a(href="/GP001") GP001: Vision einer kernwaffenfreien Welt
      .question_num_arguments 0
        .icon_num_arguments
      .tags
        ul
          li.tag 
            a(href="/tags/title/Grundsatzprogramm") Grundsatzprogramm
          li.tag 
            a(href="/tags/title/Gruppe-Außenpolitik") Gruppe-Außenpolitik
      .author.question_author
        |Eingetragen von hurz vor einem Monat
      .clear

    #question_57.question
      .stats.question_stats
        #points_text_56_0.points.question_points 1
        .points_text.question_points_text Unterstützer
      .question_title
        p
          a(href="/GP002") GP002: Weltfrieden
      .question_num_arguments 0
        .icon_num_arguments
      .tags
        ul
          li.tag 
            a(href="/tags/title/Grundsatzprogramm")
              |Grundsatzprogramm
          li.tag 
            a(href="/tags/title/Gruppe-Außenpolitik")
              |Gruppe-Außenpolitik
      .author.question_author
        |Eingetragen von hurz vor einem Monat
      .clear


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
