- extends "layout.j2.jade"
- from "proposition_macros.j2.jade" import proposition_box, tag_filter_box, search_filter_box

- block title
  title Arguments - {{ _("overview") }}

- block content
  if tag
    = tag_filter_box(tag, mode)

  if searchterm
    = search_filter_box(searchterm, mode)

  for proposition in propositions
    = proposition_box(proposition, link(proposition), current_user)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
