- extends "layout.j2.jade"
- from "question_macros.j2.jade" import question_box

- block title
  title Arguments - Übersicht (Sortiert)

- block content
  #content
    for question in questions
      - call question_box(question)
        // empty

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
