- extends "layout.j2.jade"
- from "question_macros.j2.jade" import question_box, tag_filter_box, search_filter_box

- block title
  title Arguments - {{ _("overview") }}

- block content
  #content
    if tag
      = tag_filter_box(tag, mode)

    if searchterm
      = search_filter_box(searchterm, mode)

    for question in questions
      = question_box(question)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
