- if layout
  - extends 'ekklesia_portal/layout.j2.jade'

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('overview')

- block content

  h2
    = _('ballots')

  = render_cell(collection=ballots)
