| Schweiz / Sektion Bayern: Satzungsänderungsantrag #123

h4.question_title
    a(href="question1.html") Brutal langer Titel ohne jeden Sinn und Zweck, der über jede Grenze hinausläuft und nicht zu bändigen ist und niemals aufhören wird und mir fällt langsam nichts mehr ein, was ich noch schreiben könnte, ohne selbst dabei verrückt zu werden.

ul.list-inline
    li.list-inline-item
      a.tag(href="tag1.html") Tag1
      a.tag(href="tag2.html") Tag2

p.question_details(hidden="hidden")
  | Ja, hier stehen die Details zum Antrag

.question_actions(hidden="hidden")
  button.btn.btn-primary(
      data-action="question_vote"
      data-question-id="1")
    i.fa.fa-thumbs-up &nbsp;
    | Unterstützen

  button.btn.btn-secondary(hidden="hidden"
      data-action="question_revoke_vote"
      data-question-id="1")
      i.fa.fa-remove &nbsp;
      | Unterstützung zurückziehen

  button.btn.btn-danger-outline
    i.fa.fa-thumbs-down &nbsp;
    | Melden

  button.btn.btn-secondary
    i.fa.fa-share &nbsp;
    | Teilen

  a.btn.btn-secondary(href="#bottom")
    i.fa.fa-comments &nbsp;
    | Gehe zu

