- if layout
  - extends 'ekklesia_portal/layout.j2.jade'

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('overview')

- block content

  h2
    = _('departments')

    if show_new_button
      a.edit_button(href=new_url)
        i.fas.fa-plus
        |&nbsp;
        = _('new_button')

  if current_user is none or is_global_admin
    = render_cell(collection=departments)
  else
    h3
      = _('my_departments')

    = render_cell(collection=my_departments)

    h3
      = _('other_departments')

    = render_cell(collection=other_departments)
