database:
    uri: "postgresql+psycopg2://ekklesia_portal:e@127.0.0.1/ekklesia_portal"
test_section:
    test_setting: test
common:
    instance_name: test
    fail_on_form_validation_error: false
browser_session:
    secret_key: 'test'
    cookie_secure: false
ekklesia_auth:
    client_id: client_id_test
    client_secret: test_secret
    api_base_url: "http://id.invalid/api/v1/"
    authorization_url: "http://id.invalid/oauth2/authorize/"
    token_url: "http://id.invalid/oauth2/token"
importer:
    test:
        schema: 'test_source'
        base_url: 'test'
