.argument_footer
  .authoring_info
    small.author= _("authored_at_by", dt=created_at|datetimeformat, author=author.name)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
