#detail_top(hx-swap-oob="true")
  h2= _('title_qualified_proposition')

  p= _('info_qualified_proposition')

  if show_submitter_names and submitter_names
    p= _('submitters')
    ul
      for name in submitter_names
        li= name
