- extends "ekklesia_portal/layout.j2.jade"

- block title
  title= _("title_edit_voting_phase_type")

- block content

  h2= _("title_edit_voting_phase_type")

  p.help-block
    = _("voting_phase_type_help")

  = form_html

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
