- extends "ekklesia_portal/layout.j2.jade"

- block title
  title= _("title_new_draft")

- block content
  h2= _("title_new_draft")

  = new_draft_explanation|markdown

  = form_html

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
