ul.proposition_tabs
  li.nav-item
    a.nav-link(href=discussion_url, class=discussion_link_class)= customizable_text("tab_discussion")
  li.nav-item
    a.nav-link(href=associated_url, class=associated_link_class)= customizable_text("tab_associated")
