.row
  .proposition_sidebar
    = render_cell(_model, 'status', **options)

  .proposition_body
    = render_cell(_model, 'tabs', **options)

    h4.proposition_title
        a(href=self_link)= full_title

    if options.show_actions
      = render_cell(_model, 'actions', **options)
      hr

    if options.show_details
      .proposition_details
        = content|markdown

        if motivation
          h4= _('title_motivation')
          = motivation|markdown

  .proposition_sidebar
    .proposition_history
      = render_cell(_model, 'history', **options)
