.row
  .proposition_sidebar
    = status()

  .proposition_body

    .proposition_badges
      = badges()

    h4.proposition_title
        a(href=self_link)= full_title

    if options.show_actions
      = actions()
      hr

    if options.show_details
      .proposition_details
        = content|markdown

        if motivation
          hr
          h3= _('title_motivation')
          = motivation|markdown

  .proposition_sidebar
    .proposition_history
      = history()
