ul.list-inline
  for tag in tags
    li.list-inline-item
      a(href=propositions_tag_url(tag))
        span.tag_text= tag.name

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
