@import custom
@import bootstrap/bootstrap
@import font-awesome/fontawesome
@import font-awesome/regular
@import font-awesome/solid
@import font-awesome/brands
@import custom

html
  height: 100%

body
  min-height: 100%
  position: relative

$light-orange: lighten($orange, 15%)
$light-blue: lighten($blue, 15%)
$light-violet: lighten($violet, 50%)

.alert_message
  @extend .alert
  @extend .alert-info

.alert_error,.alert_danger
  @extend .alert
  @extend .alert-danger

.alert_warning
  @extend .alert
  @extend .alert-warning

.argument_count

  .proposition_info_number, .icon
    color: black

.argument_relation_body
  @extend .p-3
  @extend .card-body
  @extend .row

.argument_relation_body
  .argument_col
    @extend .col-sm-10

.argument_relation_sidebar
  @extend .col-sm-2
  @extend .text-center

.argument_vote_btn
  @extend .btn
  @extend .btn-secondary
  width: 3rem
  @extend .mx-auto
  @extend .my-2
  @extend .d-block

.argument_vote_btn.disabled
  background-color: white
  border: 0

.argument_vote_btn i
  color: white

.argument_vote_btn.disabled i
  color: $black

.argument
  @extend .card
  @extend .mb-1

.argument_title
  @extend .card-title

.argument_text
  @extend .card-text

.argument_footer
  @extend .card-footer
  @extend .text-muted
  @extend .py-2

.argument_actions
  @extend .mt-1
  @extend .row

.con, .change
  .authoring_info
    @extend .text-right

  .counter_arguments_btn
    @extend .float-right

  .argument
    border-left-width: 3px
    border-left-color: red


.pro, .counter
  .argument_relation_sidebar
    @extend .order-10

  .argument
    border-right-width: 3px
    border-right-color: darkblue

.argument_score
  @extend .text-sm-center

.counter_arguments
  @extend .col-sm

.counter_arguments_btn
  @extend .btn
  @extend .btn-secondary
  white-space: normal

.proposition_actions
  .btn
    margin-right: 0.3em
    margin-top: 0.3em

.proposition_col
  @extend .col-sm-6

.arguments
  @extend .mt-2

.author
  @extend .text-sm-right

.button_add_related
  @extend .btn
  @extend .btn-secondary
  width: 100%

.button_add_counter_argument
  @extend .btn
  @extend .btn-secondary
  width: 100%

.btn_filter_remove
  @extend .btn
  @extend .btn-secondary
  @extend .btn-sm
  vertical-align: baseline
  font-size: 0.8em
  margin-left: 0

.content_area
  @extend .container
  @extend .my-2
  padding-bottom: 3rem
  margin-bottom: 0 !important

.proposition-body
  @extend .card-body
  border-left-width: 5px
  border-left-style: solid
  border-color: $white

.proposition-body-supported
  border-color: $light-orange

.edit_button
  @extend .btn
  @extend .btn-outline-primary

h2,h3,h4
  .edit_button
    margin-left: 8px
    margin-right: 8px

.member_in_area_button
  @extend .btn
  @extend .btn-outline-primary

footer.footer
  @extend .bg-primary
  @extend .p-2

  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 3em

  .list-inline
    @extend .my-1

.large_number
  font-size: 1.2rem

.nav-pills
  .nav-link.active
    color: $link_color

.notice
  @extend .card
  margin-bottom: 1rem
  border:

  .notice-header
    @extend .card-header

  .notice-body
    padding: 1rem
    @extend .card-body

    .notice-title
      @extend .card-title

    p:last-child
      margin-bottom: 0

.sort-nav
  padding-left: 0.5rem

.sort-nav, .filter-nav
  @extend .nav
  @extend .nav-pills
  margin-bottom: 0.5rem

.filter-nav
  .filter
    @extend .nav-link

.points_text
  @extend .text-muted

.proposition
  @extend .card

.proposition_info_number
  font-size: 1.2rem

.proposition_info_text
  @extend .text-muted

.proposition_title, .proposition_small_title
  @extend .card-title

.proposition_body
  @extend .col-sm-8

.proposition_history_item
  @extend .small
  margin-bottom: 0.25rem

.proposition_sidebar
  @extend .col-sm-2

.proposition_small
  @extend .card
  margin-bottom: 0.25rem

.proposition_small_body
  @extend .card-body

.proposition_small_title
  @extend .card-title

.proposition_small_footer
  @extend .card-footer
  @extend .text-muted

  .authoring_info
    @extend .text-right
    padding-top: 0.1rem

.proposition_toolbar
  @extend .card-header

.proposition_tabs
  @extend .nav
  @extend .nav-tabs
  @extend .card-header-tabs

.proposition_change_header
  @extend .card
  border: 0

  h4
    @extend .card-title
    @extend .text-right

.proposition_counter_header
  @extend .card
  border: 0

  h4
    @extend .card-title

ul.proposition_filter
  @extend .list-inline
  @extend .nav-link

  li
    @extend .list-inline-item

  li:not(:last-child)
    margin-right: 0

  li.and + li.and::before
    content: "+"

  li.or + li.or::before
    content: "/"

  .value
    @extend .badge
    @extend .badge-light
    font-size: 1rem

.page-selector
  margin-bottom: 1rem
  text-align: center

  .prop-count
    margin-bottom: 0.5rem

  ul
    padding: 0
    margin: 0 0 0.5rem

    li
      display: inline-block

  .page_btn
    @extend .btn
    @extend .btn-secondary

.page-selector-bottom
  @extend .page-selector
  margin-top: 2rem
  margin-bottom: 2rem

  form
    font-size: 0.9rem

    select
      -moz-appearance: none /* Firefox */
      -webkit-appearance: none /* Safari and Chrome */
      appearance: none
      border: 1px solid #ced4da
      border-radius: 0.25rem
      padding: 0.1rem 0.3rem
      width: 3.5rem
      height: 1.8rem
      vertical-align: middle
      background-color: #F8F8F8

    select:hover
      box-shadow: inset 0 0 10px -4px gray

    .select-dropdown-icon
      height: 1.8rem
      vertical-align: bottom
      padding-top: 0.5rem
      margin-left: -1.1rem
      pointer-events: none
      padding-right: 0.3rem

    input
      @extend .btn
      @extend .btn-secondary
      @extend .btn-sm

.search_button
  @extend .btn
  @extend .btn-outline-dark
  @extend .mx-2

.login_logout_button
  @extend .btn
  @extend .btn-outline-dark
  @extend .mx-2

.lang_select_button
  @extend .btn
  @extend .btn-secondary
  @extend .btn-sm

.login_button
  @extend .login_logout_button

.logout_button
  @extend .login_logout_button

.progress_row
  @extend .row
  display: flex
  align-items: center

  .progress
    height: 1.5rem

  .progress-bar
    color: black

#support
  @extend .progress_row

  .progress-bar
    background-color: $light-orange

#secret_voting
  @extend .progress_row

  .progress-bar
    background-color: $light-violet

.proposition_left
  @extend .col-sm-2
  @extend .text-sm-center

.support_form,
.secret_voting_form
    @extend .form-inline
    display: inline

.tab
  @extend .btn
  @extend .btn-secondary
  @extend .btn-sm
  border-radius: 0
  border-bottom: 0

.tab.inactive
  @extend .btn-link
  text-color: black

.tags
  @extend .card-text

hr.argument_separator
  border-top: 2px solid $light

span.tag_text
  @extend .badge
  @extend .badge-secondary
  margin-left: 0.5rem

.top_navbar
  @extend .navbar
  @extend .navbar-light
  @extend .navbar-expand-lg
  @extend .bg-primary

.top_search
  @extend .form-inline
  margin-bottom: 0

  input.form-control
    width: 22em

.top_lang_controls
  @extend .form-inline
  margin-bottom: 0

.top_username
  margin-bottom: 0
  margin-left: 1em

.top_logout
  @extend .form-inline
  margin-bottom: 0

.voting_from_to
  margin-bottom: 1em

h1>a,h2>a,h3>a,h4>a,h5>a
  color: darkblue


// map deform classes which uses bootstrap 3


.control-label
  font-size: 1.1rem

.help-block
  @extend .form-text
  font-size: 0.9rem

.form-group.has-error
  @extend .mark

.has-error .form-control
  @extend .is-invalid
