- extends "ekklesia_portal/layout.j2.jade"

- block title
  title {{ _("new_argument") }} - {{ proposition.title }}

- block content

  //= proposition_tabline(proposition, "discussion")

  //= proposition_box(proposition, current_user, no_margin=True)

  h3 {{ _('new_argument') }} ({{ relation_type|enum_value }}) - {{ proposition.title }}

  = form_html

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
