- extends "ekklesia_portal/layout.j2.jade"

- block content

      h2 Admin
      .row
        .col-sm-6
          .card
            .card-body
              .card-text
                = render_cell(admin_box)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
