- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block content

  h1= _('unhandled_exception_title')

  p= help_text

  h2= _("xid_title")
  = xid

  if show_exception_details

    = traceback


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
