- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block content

  if show_ekklesia_login

    h2 Login über zentralen Ekklesia-Login

    a.btn.btn-primary(href=ekklesia_login_url) Zum Ekklesia-Login

    hr


  if show_internal_login
    h2 Interner Login

    if insecure_development_mode_enabled
      .alert.alert-danger
        strong= _('warning_development_mode')

    form(action="/login", method="POST")
      p
        label(for="username") Username
        input(name="username" value=username)

      p
        label(for="password") Password
        input(name="password" type="password")

      input(type="submit")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
