- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block content

  h2= _('headline_login_with_token')

  = content_token_login|markdown

  = form_html


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
