- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('proposition_note')


- block content
    if layout
      h2 = _('proposition_note')

  .proposition_note.container
    h3
      a(href=self_link)= name

      if show_edit_button
        a.edit_button(href=edit_url)
          i.far.fa-edit
          |&nbsp;
          = _('edit_button')

    if options.show_details
      dl
        if description
          dt= _('description')
          dd= description
