if show_full_history
  if author
    .proposition_history_item
      = _("created_by", author=author.name)

  .proposition_history_item
    = _("created_on", date=created_at|dateformat)

  .proposition_history_item
    = _('submitted_on', date=submitted_at|dateformat)

.proposition_history_item
  = _('finished_on', date=voting_phase.target|dateformat)
