- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('document')


- block content
  if layout
    h2= _('title_propose_document_change')

  .document.container

  .help_text
    = explanation|markdown

    hr

    = text_with_propose_change
